<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>음식 3D 스캔을 위해 카메라가 필요합니다</string>
    <key>NSMotionUsageDescription</key>
    <string>정확한 3D 스캔을 위해 모션 센서가 필요합니다</string>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
        <string>arkit</string>
    </array>
    <key>UILaunchScreen</key>
    <dict/>
</dict>
</plist>
